// Microsoft Visual C++ generated resource script.
//
#include "resource3.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
L3DICO1                 ICON                    "res\\l3d01.ico"
L3DICO2                 ICON                    "res\\l3d02.ico"

/////////////////////////////////////////////////////////////////////////////

